
<main>
    <div>
        <button class="loginButton"><a href="/login">Login <i class="fa-solid fa-user"></i></a>  </button>
    </div>

    <div>
        <button class="signUpButton"><a href="/signup">Signup <i class="fa-solid fa-user-plus"></i></a>  </button>
    </div>
</main>
