<% if (locals.messages.errors) { %>
    <% messages.errors.forEach( el => { %>
        <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %>
<% } %>


<main class="signUpMain">
    <div class="signUpDiv">
        <form action="/signup" method="POST">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirmPassword" placeholder="Confirm Password">
            <input type="submit" class="inputSubmit">
        </form>
    </div>
</main>
