body {
    background-color: #333333;
    font-family: 'Open Sans', sans-serif;
    color: #cccccc;
    margin: 0;
    padding: 0;
}
header {
    background-color: #222222;
    padding: 3rem;
    color: #cccccc;
    font-size: 20px;
    font-weight: 300;
}
.dashboard-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}
h1 {
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem;
}
h2 {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem;
}

/* Displays a grid of steam games */
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* A square card showing information about a steam game */
li {
    background-color:#202020;
    border: 0.4rem solid #323232;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #2a2a2a;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: min(100%, 400px);
    height: min(100%, 400px);
    transition: all 0.2s ease-in-out;
}
li:hover {
    border: 0.4rem solid #33cb9d;
}

.steam-page-link {
    text-decoration: dotted;
    color: #59e79d;
    padding: 0.5rem 0;

}
/* Align icon to top right of parent element*/
.game-icon {
    align-self: flex-end;
    padding: 0.5rem 0;
}